.flex_col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_row{
    display: flex;
    flex-direction: row;
}

.ctxt{
    text-align: center;
}

html{
    color: black;
    background-image: url(background.jpg);
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    width: 80vw;
    background-color:rgba(255,255,255, .8);
    border-radius: 2rem;
    height: 75vh;
    margin-top: 1rem;

}

.trivia_row{
    width: 70vw;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.choice{
    width: 30vw;
    height: 10vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 2rem;
    font-family: 'Luckiest Guy', cursive;
}


.header{
    background-color: rgba(255,255,255,.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 80vw;
    height: 15vh;
    font-size: 4rem;
    font-family: 'Lakki Reddy', cursive;
    
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.4rem;
}

.picture{
    height: 15rem;
    width: 15rem;
    background-image: url(bob.png);
    align-self: center;
}

#choice_1{
    background-color: green;
}

#choice_2{
    background-color:red;
}